.profileDetailsContainer>h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.profileDetailsContainer>p {
  color: var(--grey);
  font-size: 1.2rem;
  margin-bottom: 50px;
}

/* ================Form================ */
.form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form>div:not(:last-child) {
  display: flex;
  background-color: var(--borders);
  border-radius: 10px;
  padding: 25px;
}

/* file upload */
.form>div:nth-child(1) {
  align-items: center;
  justify-content: space-evenly;
}

.form>div:nth-child(1)>p,
.form>div:nth-child(1) label {
  color: var(--grey);
}

.form>div:nth-child(1)>p:nth-child(3) {
  max-width: 150px;
  line-height: 25px;
}

.form .fileInput {
  width: 150px;
  height: 125px;
  background-color: var(--purple-light);
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  position: relative;
  cursor: pointer;
  margin: 0 5px;
}

.form input[type="file"] {
  width: 100%;
  height: 100%;
  position: absolute;
  opacity: 0;
  cursor: pointer;
  z-index: 10;
}

.form .fileInput p {
  color: var(--purple);
  font-size: 1.15rem;
  font-weight: 600;
}

.form>div:nth-child(1) .uploadName {
  display: block;
  color: var(--purple);
  text-align: center;
  font-weight: 600;
}

/* inputs */
.form>div:nth-child(2) {
  flex-direction: column;
  gap: 20px;
}

.form>div:nth-child(2)>div {
  display: flex;
  align-items: center;
  position: relative;
  gap: 10px;
}

.form>div:nth-child(2) label {
  width: 70px;
  color: var(--grey);
  display: flex;
  gap: 5px;
}

.form>div:nth-child(2) input {
  flex: 1;
  height: 40px;
  font-size: 1rem;
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
}

.form label span {
  color: var(--red);
}

.submitBtn {
  display: flex;
  justify-content: flex-end;
  border-top: 2px solid var(--light-grey);
  padding-top: 25px;
  margin-top: 50px;
}

.submitBtn button {
  width: 100px;
  height: 45px;
  color: var(--white);
  background-color: var(--purple);
  border: 2px solid transparent;
  font-size: 1rem;
  font-weight: 600;
  transition: .3s;
  cursor: pointer;
}

.submitBtn button:hover {
  background-color: var(--purple-hover);
}

.error {
  width: 100%;
  color: var(--red);
  font-size: .8rem;
  font-weight: 600;
  position: absolute;
  bottom: -18px;
  text-align: center;
}

.submitBtn .error {
  bottom: 25px;
  font-size: 1.1rem;
}

/* ============================== */
@media screen and (max-width:600px) {

  .form>div:nth-child(1) {
    flex-direction: column;
    gap: 25px;
    text-align: center;
  }

  .form>div:not(:last-child) {
    padding: 10px;
  }
}

@media screen and (max-width:1000px) {

  .profileDetailsContainer>h1,
  .profileDetailsContainer>p {
    text-align: center;
  }
}