.container {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -40px;
  left: 0;
  transition: .3s;
  z-index: 20;
}

.container>div {
  height: 40px;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--dark-grey);
  color: var(--white);
  border-radius: 5px;
  padding: 0px 15px;
}



/* =============================== */
.showModal {
  bottom: 10px;
}