.container {
  position: relative;
}

.container>div>img:nth-child(3) {
  position: absolute;
  right: 15px;
  bottom: 15px;
  transform-origin: center;
  transition: .1s;
}

.container>div {
  width: 100%;
  display: flex;
  background-color: var(--white);
  border: 1px solid var(--light-grey);
  border-radius: 5px;
  padding-left: 15px;
}

.container>div:nth-child(2) {
  height: 45px;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.container>div:nth-child(2) input {
  cursor: pointer;
}

.container>div input {
  border: none;
}

/* ===============PLatform=============== */
.platforms {
  max-height: 300px;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: calc(100% + 10px);
  overflow-y: scroll;
  transform-origin: top;
  transform: scaleY(0);
  transition: .1s;
  padding: 15px 0;
}

.platform {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.platform:not(:last-child) {
  border-bottom: 1px solid var(--light-grey);
  padding-bottom: 15px;
  margin-bottom: 5px;
}

.platform>span {
  width: 20px;
  height: 20px;
  background-color: var(--grey);
  mask-repeat: no-repeat;
  mask-size: 20px 20px;
  transition: .3s;
}

.platform>p {
  font-size: 1.15rem;
  transition: .3s;
}

.platform:hover>span {
  background-color: var(--purple);
}

.platform:hover>p {
  color: var(--purple);
}


/* ========================== */
.opened {
  transform: scaleY(1);
}

.rotate {
  transform: rotate(180deg);
}