.container {
  padding: 25px;
}

.main {
  min-height: 100vh;
  display: flex;
  gap: 25px;
}

.main>div {
  height: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
}


.main>div:nth-child(1) {
  flex: .8;
  padding: 50px 0px;
}

.main>div:nth-child(2) {
  flex: 1;
  padding: 50px;
}