.container {
  padding: 25px;
}

.main {
  min-height: 100vh;
  display: flex;
  gap: 25px;
}

.main>div {
  height: fit-content;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: var(--shadow);
}


.main>div:nth-child(1) {
  flex: .8;
  padding: 50px 0px;
}

.main>div:nth-child(2) {
  flex: 1;
  position: relative;
  overflow: hidden;
  padding: 50px;
}


/* ======loading animation====== */
.isLoading {
  animation-name: loading;
  animation-duration: .75s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes loading {
  from {
    opacity: .75;
    pointer-events: none;
  }

  to {
    opacity: .25;
    pointer-events: none;
  }
}