.container {
  padding: 25px;
}

.main {
  height: fit-content;
  min-height: 100vh;
  display: flex;
  gap: 25px;
}

.main>div {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: var(--shadow);
  padding: 50px 10px;
}


.main>div:nth-child(1) {
  flex: .7;
}

.main>div:nth-child(2) {
  flex: 1;
}