.linksContainer>h1 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.linksContainer>p {
  color: var(--grey);
  font-size: 1.2rem;
}

.linksContainer>button {
  width: 100%;
  background-color: transparent;
  color: var(--purple);
  border: 2px solid var(--purple);
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  transition: .3s;
  cursor: pointer;
  padding: 15px 0;
  margin: 50px 0 20px 0;
}

.linksContainer>button:hover {
  background-color: var(--purple-light);
}